.tvseries-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 5%;
  }

  .tvseries_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }



  .star {
    font-size: 1.5rem;
    color: #b0c4de;
  }
  .filled {
    color: #1e90ff;
  }
  .bad {
    color: #deb0b0;
  }
  .filled.bad {
    color: #ff1e1e;
  }

  .show_error {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 70%;
    margin-top: 5%;
    font-size: 10px;

    color: red;
}